* {
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
}

.header {
    height: 100%;
    width: 100%;
    background-image: linear-gradient(rgba(4, 9, 30, 0.837), rgba(4, 9, 30, 0.837)), url(Images/barber.png);
    background-position: center;
    background-size: cover;
    position: fixed;
}


nav {
    display: flex;
    padding: 2% 6%; 
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

nav img {
    width: 150px;
}

.nav-links {
    flex: 1;
    text-align: right;
}

.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.nav-links ul li a {
    color: white;
    text-decoration: none;
    font-size: 13px;
}
.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: rgba(183, 183, 183);
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li:hover::after{
    width: 100%;
}
.text-box{
    width: 90%;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    position: absolute;
    margin-top: 50px;
}

.hero-btn{
    display: inline-block;
    text-decoration: none;
    color: white;
    border: 1px solid white;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
    border-radius: 10px;
}
.hero-btn:hover{
    border: 1px solid grey;
    background-color: grey;
    transition: 1s;
}
nav .fa{
    display: none;
}

@media(max-width: 700px){
    .text-box{
        font-size: 20px;
    }
    .nav-links ul li{
        display: block;
    }
    .nav-links{
        position: absolute;
        background: rgba(128, 128, 128, 0.569);
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 1s;
    }
    nav .fa{
        display: block;
        color: white;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }
    .nav-links ul{
        padding: 30px;
    }
}
.footer{
    width: 100%;
    text-align: center;
    padding: 750px 0;
    color: white;
}
.icons .fab{
    margin: 0 13px;
    cursor: pointer;
    padding: 18px 0;
}
.fa-instagram{
    cursor: pointer;
}


